<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="bg-white shadow rounded overflow-hidden">
      <a href="../login.html">Wyloguj</a>
      <a href="../main.html" style="margin-left: 20px">Poznaj nowe osoby</a>
    </nav>
    <nav></nav>
    <div class="form-group text-center">
      <h3>Opisz swoje zainteresowania</h3>
      <div class="row" style="justify-content: center; margin-bottom: 100px">
        <div class="col-md-8" style="padding: 0 30px">
          <form id="description-form">
            <select
              id="select-hobby"
              class="custom-select custom-select-lg mb-3"
              aria-label="Default select example"
            >
              <option selected>Wybierz</option>
              <option value="1">fotografia</option>
              <option value="2">wędkarstwo, żeglowanie</option>
              <option value="3">sport</option>
              <option value="4">blogowanie</option>
              <option value="5">ceramika, garncarstwo</option>
              <option value="6">ogrodnictwo</option>
              <option value="7">gotowanie, pieczenie ciast</option>
              <option value="8">kuchnia japońska</option>
              <option value="9">
                słuchanie podcastów o konkretnej tematyce
              </option>
              <option value="10">gry strategiczne</option>
              <option value="11">wycieczki w góry</option>
            </select>
            <label for="textArea" class="font-weight-bold"
              >Napisz coś więcej</label
            >
            <textarea
              type="text"
              class="form-control form-control-lg"
              id="textArea"
              rows="8"
              style="text-align: left"
              placeholder="Napisz coś więcej ..."
            >
            </textarea>
            <button class="fadeIn fourth" id="addDescriptionButton">
              Dodaj zainteresowania
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-firestore.js"></script>
    <script src="../js/initialize-app.js"></script>
    <script src="../js/main.js"></script>
    <script>
      const button = document.getElementById("addDescriptionButton");
      button.addEventListener("click", (e) => {
        const hobby = document.getElementById("select-hobby").value;
        const additionalHobbyInfo = document.getElementById("textArea").value;
        e.preventDefault();
        const currentEmail = firebase.auth().currentUser.email;
        console.log(currentEmail);
        db.collection("users")
          .where("email", "==", currentEmail)
          .get()
          .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              db.collection("users")
                .doc(doc.id)
                .update({ hobby, additionalHobbyInfo })
                .then(() => {
                  alert("Dodano hobby!");
                })
                .catch((err) => console.log(err));
            });
          })
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
