<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="bg-white shadow rounded overflow-hidden">
      <a href="../login.html">Wyloguj</a>
      <a href="../main.html" style="margin-left: 20px">Poznaj nowe osoby</a>
    </nav>
    <nav></nav>
    <div class="form-group text-center">
      <h3>Podaj swoje dane personalne</h3>
      <div class="row" style="justify-content: center; margin-bottom: 100px">
        <div class="col-md-8" style="padding: 0 30px">
          <form id="description-form">
            <div class="form-group">
              <label for="street" class="text-left">Ulica</label>
              <input
                type="string"
                class="form-control"
                id="street"
                placeholder="Wpisz ulice"
              />
            </div>
            <div class="form-group">
              <label for="city" class="text-left">Miasto</label>
              <input
                type="string"
                class="form-control"
                id="city"
                placeholder="Wpisz miasto"
              />
            </div>
            <div class="form-group">
              <label for="postcode" class="text-left">Kod pocztowy</label>
              <input
                type="string"
                class="form-control"
                id="postcode"
                placeholder="Wpisz kod pocztowy"
              />
            </div>
            <div class="form-group">
              <label for="age" class="text-left">Wiek</label>
              <input
                type="string"
                class="form-control"
                id="age"
                placeholder="Wpisz wiek"
              />
            </div>
            <div class="form-group">
              <label for="bithday" class="text-left">Data urodzenia</label>
              <input
                type="bithday"
                class="form-control"
                id="bithday"
                placeholder="Wpisz date urodzenia"
              />
            </div>
            <button class="fadeIn fourth" id="addDescriptionButton">
              Dodaj dane personalne
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.1/firebase-firestore.js"></script>
    <script src="js/initialize-app.js"></script>
    <script src="js/main.js"></script>
    <script>
      const button = document.getElementById("addDescriptionButton");
      button.addEventListener("click", (e) => {
        const descriptionText = document.getElementById("textArea").value;
        e.preventDefault();
        const currentEmail = firebase.auth().currentUser.email;
        db.collection("users")
          .where("email", "==", currentEmail)
          .get()
          .then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              db.collection("users")
                .doc(doc.id)
                .update({ descriptionText })
                .then(() => {
                  alert("Dodano opis!");
                })
                .catch((err) => console.log(err));
            });
          })
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
